html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.image-wrapper {
    object-fit: cover;
    max-width: 100%;
    width: auto;
    height: auto;
}

p {
    font-size: 16px;
    color: #091E42;
    margin: 0;
}

/*Button*/
.btn {
    padding: 12px 16px 13px;
    font-size: 16px;
}

.btn-primary {
    padding: 15px;
    font-size: 16px;
}

.btn-seceondary {
    background: transparent;
    color: #06111C;
    border: 1px solid #2684FF;

}

.btn-seceondary:hover {
    background: #DFFFFD;
    border: 1px solid #2684FF;
}

/*  Padding*/
.py-9 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.pt-12 {
    padding-top: 120px;
}

.pt-7 {
    padding-top: 70px;
}


/*Headings*/
h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

h4 {
    font-size: 24px;
    margin: 0;
    line-height: 35px;
}

h6 {
    font-size: 16px;
    margin: 0;
}

/*font weight and size*/
.fs-20 {
    font-size: 20px;
}

.fs-12 {
    font-size: 12px;
}

.fs-48 {
    font-size: 48px;
}

.fw-500 {
    font-weight: 500;
}

/*background and colors*/
.bg-lightblue {
    background: #DEEBFF;
}

.text-grey {
    color: #505F79;
}

.text-lightgray {
    color: lightgray;
}

.navbar.scrolled {
    transition: 0.2s ease-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

.navbar:hover {
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.nav-link {
    padding: 30px 16px 16px 16px !important;
}

.nav-link:hover {
    color: dodgerblue;
}

/*Hero section */
.hero-section {
    background: url(/assets/images/white-wave-mobile.svg) center bottom -0.5px / 100% 24% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto no-repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);

}

.hero-section input[type="email"] {
    border: 2px transparent;
}

/*productivity section*/

.productivity-section {
    background:  lightcyan;

}

.productivity-section .box {
    background: transparent;
    text-align: left;
    transition: 0.1s ease;
    cursor: pointer;
    border-left: 8px solid transparent;
}

.productivity-section .box.active {
    background: rgb(255, 255, 255);
    color: rgb(9, 30, 66);
    border-left-color: rgb(0, 199, 229);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 13px 16px 0px;
}

.productivity-section .swiper-container {
    overflow-x: hidden;
}

.productivity-section .image-wrapper img {
    object-fit: cover;
    width: 100%;
}

/*Workflow section*/
.workflow-section .card {
    padding: 25px;
    text-align: left;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}

.swiper-slide {
    height: auto;
}

.workflow-section .icons {
    background: rgb(255, 255, 255) center center/contain no-repeat;
    border: 8px solid rgb(255, 255, 255);
    height: auto;
    left: 16px;
    position: absolute;
    top: -30px;
    min-width: 50px;
    max-width: 50px;
}

.workflow-section .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.border-top-50 {
    border-top-width: 50px;
}

.red-top-border {
    border-top-color: #FF7452;
}

.skyblue-top-border {
    border-top-color: #2684FF;
}

.green-top-border {
    border-top-color: #57D9A3;
}

.yellow-top-border {
    border-top-color: #FFC400;
}

.blue-top-border {
    border-top-color: #00C7E5;
}

.pink-top-border {
    border-top-color: #F99CD8;
}

.workflow-section .swiper-button {
    border: 2px solid white;
    width: 35px;
    height: 37px;
    background-color: #F4F4F4;
    color: #06111C;
    border-radius: 100%;
    font-size: 20px;
}

.swiper-button:hover {
    color: #2684FF;
}

.swiper-button.swiper-button-disabled {
    border-color: #808080;
    background-color: transparent;
    color: #808080;
    border: 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #00C7E5;
    transform-origin: left;

}

/*work section*/
.work-section {
    background: url("/assets/images/white-background.svg") left center / contain no-repeat scroll padding-box border-box, url(/assets/images/white-background.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
}

.work-section .card {
    background-color: rgb(255, 255, 255);
    color: rgb(9, 30, 66);
    border-radius: 8px;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 8px 16px 0px;
}

.work-section .card:last-child {
    margin-bottom: -155px;
}


/* feature section*/

.feature-section .card {
    background-color: rgb(250, 251, 252);
    color: rgb(9, 30, 66);
    border: transparent;
    width: 90%;
}

/* feedback-section */
.feedback-section .box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    background-image: url('/assets/images/box-image.svg');
    background-size: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}


.feedback-section .box-color {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(60deg, rgb(101, 84, 192), rgb(249, 156, 219)) 0% 0% / auto repeat scroll padding-box border-box rgb(101, 84, 192);
    padding: 40px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.feedback-section .line {
    content: "";
    height: 1px;
    width: 50%;
    background-color: #000;
}

.feedback-section .swiper-slide {
    left: 5%;
}

.feedback-section .image-wrapper {
    height: auto;
    width: 40%;
    max-width: 100%;
    object-fit: cover;
}

.feedback-section .swiper-pagination {
    position: relative;
}

.feedback-section .swiper-pagination-bullets {
    bottom: 0;
    border-radius: 100%;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.feedback-section .swiper-pagination-bullet {
    background: #000;
}

.feedback-section .swiper-pagination-bullet-active {
    background: #808080;
    transition: all 0.5s ease;
    width: 3.75rem;
    border-radius: 15%;
}

.feedback-section .swiper-button {
    border: 2px solid white;
    width: 37px;
    height: 38px;
    background-color: #F4F4F4;

    border-radius: 100%;
}

.swiper-button:hover {
    color: #2684FF;
}

.swiper-button.swiper-button-disabled {
    border-color: #808080;
    background-color: transparent;
    color: #808080;
    border: 0;
}

/* Price-cards-section */
.price-cards-section {
    background: #DEEBFF;
}

.price-cards-section .card {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.blue-border {
    border: 2px solid #2684FF;
}

.price-cards-section input {
    width: 100%;
    border: none;
    background: transparent;
}

.partners-section .image-wrapper {
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100px;
}

/* Get started section */
.get-started-section {
    background: url(/assets/images/banner-option.svg) left center / contain no-repeat scroll padding-box border-box, url(/assets/images/banner-option2.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal, normal;
    color: rgb(255, 255, 255);
}

.get-started-section input[type="email"] {
    border: 2px transparent;
}

/*Footer section*/
footer a {
    text-decoration: none;
}

footer {
    background-color: rgb(23, 43, 77);

}

.footer-options:hover {
    background-color: rgb(52, 69, 99);
    transition: all 0.25s ease;
}

footer .line {
    content: "";
    height: 0.5px;
    background-color: rgb(80, 95, 121);
}

footer .footer-options .line {
    display: none;
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgb(80, 95, 121);

}

footer .fa {
    width: 40px;
    border: 3px solid white;
    border-radius: 100%;
}

/*Media Queries*/
@media screen and (max-width:991.98px) {
    h1 {
        font-size: 40px;
    }

    .get-started-section {
        background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    }

    .get-started-section input[type="email"] {
        width: 50%;
    }

    .feedback-section .box {
        border-bottom-left-radius: 0;
        border-top-right-radius: 16px;
    }

    .feedback-section .box-color {
        border-top-right-radius: 0;
        border-bottom-left-radius: 16px;
    }
}

@media screen and (max-width:767.98px) {
    h1 {
        font-size: 32px;
        text-align: center;
    }

    .feedback-section .box-color {
        width: 100%;
        padding: 32px;
    }
}

@media screen and (max-width:575.98px) {
    h1 {
        font-size: 32px;
        text-align: center;
    }

    h2 {
        font-size: 24px
    }

    .hero-section p {
        text-align: center;
    }

    h3 {
        font-size: 20px;
    }

    .fs-20 {
        font-size: 18px;
    }

    .pt-7 {
        padding-top: 60px;
    }

    .hero-section input[type="email"] {
        display: none;
    }

    .work-section .card {
        left: 0;
        width: 100%;
    }

    .work-section .image-wrapper {
        width: 100%;
    }

    .workflow-section .swiper-button {
        display: none;
    }

    .workflow-section .card {
        padding: 20px;
    }

    .feature-section .card {
        width: auto;
    }


    .feedback-section .box-color {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .feedback-section .box {
        border-bottom-left-radius: 0;
    }

    .feedback-section .swiper-slide {
        left: 0%;
    }


    .price-cards-section .card {
        margin-bottom: 10px;
        margin-top: 10px;
    }


    .price-cards-section .card-button {
        margin-top: 30px;
    }

    .get-started-section {
        background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    }

    .footer-option {
        display: block;
    }
}